{{/* Category description mapping utility */}}
{{ $categoryDescriptions := dict 
    "controllers" "Системы управления и контроллеры для промышленного оборудования"
    "processing" "Устройства обработки данных и вычислительные модули"
    "sensors" "Датчики и измерительные приборы для точных измерений"
    "displays" "Дисплеи и системы визуализации информации"
    "switching" "Коммутационное оборудование и блоки управления"
    "actuators" "Исполнительные устройства и приводы"
}}
{{ index $categoryDescriptions . | default "Промышленное электронное оборудование" }}